*  {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
}

.navbar {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    padding: 32px 330px 32px 330px; 
}

li {
    display: inline-block;
    padding: 0 72px 0 0;
  }

  a, a:link, a:visited, a:focus, a:hover, a:active {
    outline: none;
    text-decoration: none;
    color: #FF0000;
}

.image {
    
    width: 100%;
    height: 100%;
    padding: 0 0 50px 0;

}


.title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    padding: 0 0 50px 0;
}

.content{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 0 68px 0 68px;
}


p { margin-bottom: 28px; }

button { 
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    text-align: center;
    display: inline-block;
    border-color: #FF0000;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 38px;
    margin-bottom: 42px;

}

.copyright {
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
padding: 40px 105px 0 0;
text-align: right;
}