* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-style: normal;
}

li {
    list-style: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-top: 63px;
    margin-bottom: 40px;
}

span {
    color: #4BCAFF;
}

.header-menu {
    /* list-style-type: none; */
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    height: 69px;
    border: 1px solid white;
}

.header-menu-link {
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
} 

.header-menu-link:hover {
    background-color: #222F3A;
}

    /* 
.header-menu {
    list-style-type: none;
    display: flex;
    background-color: #35444F;
    justify-content: center;
    align-items: center;
    height: 69px;
    margin-bottom: 48px;
}
.header-menu-item {
    padding: 25px 40px;
    border: 1px solid #FFFFFF;
}
.header-menu-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}  
*/

.content {
    display: flex;
}

.horizontal-menu {
    /* list-style-type: none; */
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin-right: 52px;
    height: fit-content;
}

.hor-menu-link {
    display: inline-block;
    padding: 25px 0 25px 44px;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    width: 344px;
}

.hor-menu-link:hover {
    color: #000000;
    background-color: #DBDBDB;
    padding-right: 38px; 
    /* паддинг не получается,наверное это из-за того что у меня в предыдущем блоке паддинг вправо стоит 0 и ему некуда двигатся  */
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* не рабоатает justify-content :( */
    align-items: flex-start;
    /* margin-bottom: 54px; */
}

.img-holder {
    border: 1px solid black;
    padding: 75px 268px 73px 297px;
    margin-bottom: 37px;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.footer-menu {
    display: flex;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-bottom: 30px;

}

.footer-menu-item {
    display: inline-block;
    text-align: center;
    padding-left: 30px;

}

.footer-menu {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-menu-link:hover {
    color: #3181A6;
    text-decoration: underline;

}

.copyright {
    padding-left: 135px;
}